<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.jiang.practice.bean.UserDao"/>

    <bean id="userService" class="com.jiang.practice.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="company" value="NWAFU"/>
        <property name="location" value="Beijing"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.jiang.practice.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.jiang.practice.common.MyBeanPostProcessor"/>

</beans>